@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Montserrat:wght@100;400&display=swap');


.arm-page-header{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Bigelow Rules', serif, 'Montserrat', sans-serif;

}

.resistance-band-arms-images {
    height: 60%;
}

.main-page-arm-container {
    background-image: url('../../public/images/Arms/arms main page background image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bodyweight-arm-link {
    text-decoration: none;
    color: rgb(13, 13, 13);
}
.arm-container {
    background-image: url('../../public/images/Arms/arms background image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.arm-card-button {
    background-color: black !important;
    height: auto
}


