@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Montserrat:wght@100;400&display=swap');


.back-page-header{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    color: whitesmoke;
    font-weight: 700;
    font-family: 'Bigelow Rules', serif, 'Montserrat', sans-serif; 

}
.back-images {
    height: 70%;
}

.back-container {
    background-image: url('../../public/images/Back/back page background image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.main-page-back-container {
    background-image: url('../../public/images/Back/back main page backgroung image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bodyweight-back-link {
    text-decoration: none;
    color: rgb(13, 13, 13);
}

.card-container {
    height: 100vh;
}
