.chest-page-header{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 7rem;
    font-weight: 700;
    font-family: 'Bigelow Rules', serif, 'Montserrat', sans-serif;

}
.chest-images {
    height: 70%;
}

.chest-container {
    background-image: url('../../public/images/Chest/chest background image.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.bodyweight-chest-link {
    text-decoration: none;
    color: rgb(13, 13, 13);
}

.main-page-chest-container {
    background-image: url('../../public/images/Chest/chest main page background image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-container {
    height: 100vh;
}