.chest-page-header{
    display: flex;
    justify-content: center;
    color: rgb(17, 16, 16);
    font-size: 7rem;
    font-weight: 700;
    font-family: 'Bigelow Rules', serif, 'Montserrat', sans-serif;

}
.chest-images {
    height: 70%;
}

.chest-container {
    background-image: url('../../public/images/Chest/chest page background image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}