@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Montserrat:wght@100;400&display=swap');

.training-container {
    background-image: url('../../public/images/training diary background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.training-diary-heading {
    color: whitesmoke;
    font-family: 'Bigelow Rules', serif, 'Montserrat', sans-serif;
    font-size: 4rem;
}

.training-diary-date {
    color: whitesmoke;
    font-family: 'Bigelow Rules', serif, 'Montserrat', sans-serif;
    font-size: 3rem;
}

.input-container {
    width: 95%;
    border-radius: 3px;
    border: 1px solid black;
}
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 80vw;
    color: white;
    background-color: black;
    padding-bottom: 10px;
}

.table-contents-container {
    width: 100%;
}


@media screen and (max-width: 576px) {
    .table-container {
        height: 70vh;
        width:   100vw;
    }
    .table-contents-container {
        height: 80%;
    }
    
}
@media screen and (max-width: 939px) {
    .table-container {
        height: 70vh;
    }
    .table-contents-container {
        height: 80%;
    }
    .input-container {
        height: 100%;
    }
}