.training-container {
    
    /* background-image: url('../../public/images/training diary background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.input-container {
    border: none;
}