.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70vw;
    /* background-image: url('../../public/images/training diary background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}